@if (logueado === true){

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
    ></ion-refresher-content>
  </ion-refresher>


  <section>
    @if (news.length !== 0) {
    @for (new of news; track new.id) {
      <article>
        <app-news-card 
        [id]="new.id"
        [imagen]="new.imagen"
        [titulo]="new.titulo">
        </app-news-card>
      </article>
    }
  }
  @else {
    <ion-card>
      <ion-card-content>
        <p class="text-center">No hay noticias</p>
      </ion-card-content>
    </ion-card>
  }

  </section>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="Cargando mas noticias..."
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

}